/osa05-Osa05_11.Asuntovertailu/target/
/osa06-Osa06_01.MatemaattisetApuvalineet/target/
/osa05-Osa05_12.Kappale/target/
/osa05-Osa05_13.Henkilovertailu/target/
/osa05-Osa05_14.Paivays/target/
/osa05-Osa05_15.Raha/target/
/osa06-Osa06_02.KirjastonTietojarjestelma/target/
/osa06-Osa06_03.Lempinimet/target/
/osa06-Osa06_04.Lyhenteet/target/
/osa06-Osa06_05.HajautustaulunTulostelua/target/
/osa06-Osa06_06.HajautustaulunTulostelua2/target/