/osa05-Osa05_11.Asuntovertailu/target/
/osa06-Osa06_01.MatemaattisetApuvalineet/target/
/osa05-Osa05_12.Kappale/target/
/osa05-Osa05_13.Henkilovertailu/target/
/osa05-Osa05_14.Paivays/target/
/osa05-Osa05_15.Raha/target/
/osa06-Osa06_02.KirjastonTietojarjestelma/target/
/osa06-Osa06_03.Lempinimet/target/
/osa06-Osa06_04.Lyhenteet/target/
/osa06-Osa06_05.HajautustaulunTulostelua/target/
/osa06-Osa06_06.HajautustaulunTulostelua2/target/
/osa06-Osa06_07.Velkakirja/target/
/osa06-Osa06_08.SamaPaivays/target/
/osa06-Osa06_09.HajautusarvoPaivaykselle/target/
/osa06-Osa06_11.UseanKaannoksenSanakirja/target/
/osa06-Osa06_12.Kellari/target/
/osa06-Osa06_13.Keskiarvot/target/
/osa06-Osa06_14.Sanakirja/target/
/osa07-Osa07_01.Nestesailiot/target/
/osa07-Osa07_02.NestesailiotOlioilla/target/
/osa07-Osa07_03.TavaraMatkalaukkuJaLastiruuma/target/
/osa07-Osa07_04.Jarjestaminen/target/
/osa07-Osa07_07.Arvosanatilastot/target/
/osa07-Osa07_08.Reseptihaku/target/
/osa07-Osa07_09.LintubongarinTietokanta/target/
/osa08-Osa08_01.ABC/target/
/osa08-Osa08_02.HenkiloJaPerilliset/target/
/osa08-Osa08_03.Varastointia/target/